<h1>Here's a random employee</h1>

<h3><%=@employee.first_name%></h3>
<h3><%=@employee.last_name%></h3>
<h3><%=@employee.email%></h3>
<h3><%=@employee.salary%></h3>
<h3><%=@employee.phone_number%></h3>
<h3><%=@employee.gender%></h3>